.wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(20, 40px);
    gap: 10px;
    padding: 10px;
}

header {
    grid-column: 2 / 12;
    grid-row: 1 / 3;
    background-color: rgb(50, 230, 47);
    font-size: larger;
    font-weight: bolder;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
}

nav {
    background-color: rgb(187, 160, 160);
    grid-column: 2 / 12;
    grid-row: 3 / 4;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
}

nav ul {
    list-style-type: none; 
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
}

nav a {
    text-decoration: none; 
    color: black;
    font-weight: bold;
}

nav a:hover {
    color: rgb(50, 230, 47);
}





article {
    background-color: yellow;
    grid-column: 2 / 8;
    grid-row: 4 / 16;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

aside {
    background-color: red;
    grid-column: 8 / 12;
    grid-row: 4 / 16;
    padding: 10px;
    border-radius: 10px;
    color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

footer {
    background-color: red;
    grid-column: 2 / 12;
    grid-row: 18 / 20;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    color: white;
    font-weight: bold;
}

@media screen and (max-width: 800px) {
    .wrapper {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(40, 40px);
    }
    article {
        grid-column: 2 / 12;
        grid-row: 5 / 25;
    }
    aside {
        grid-column: 2 / 12;
        grid-row: 26 / 35;
    }
    footer {
        grid-row: 36 / 38;
    }
}
